<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="list-add-button" (click)="onAddCustomer()" matTooltip="Add a new Customer" matTooltipPosition="above" color="primary">
        <mat-icon>add</mat-icon>{{this.text.addNewButtonText}}
    </button>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="customerListTableData" matSort>
        <ng-container matColumnDef="contact" sticky>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button disabled><mat-icon>person</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name" sticky>
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{this.text.name}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{this.text.phone}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mail">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{this.text.mail}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.mail}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="place">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{this.text.place}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="birthDate">
            <mat-header-cell *matHeaderCellDef >{{this.text.birthDate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.birthDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef >{{this.text.status}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" stickyEnd>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onViewClick(row)" matTooltip="{{this.text.viewIconHint}}" matTooltipPosition="above"><mat-icon>remove_red_eye</mat-icon></button>
              <button mat-icon-button (click)="onEditClick(row)" matTooltip="{{this.text.editIconHint}}" matTooltipPosition="above"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="onDeleteClick(row)" matTooltip="{{this.text.deleteIconHint}}" matTooltipPosition="above"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              {{this.text.loadingDataText}}
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              {{this.text.noDataMessage}}
            </mat-footer-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="columnHeaderList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnHeaderList;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" 
            [ngClass]="{'hide':customerListTableData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" 
            [ngClass]="{'hide':!(customerListTableData!=null && customerListTableData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
<div class="spinner-div">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
