.hide {
    display: none;
}

mat-footer-row mat-footer-cell  {
    justify-content: center;
    font-style: italic;
}
.list-add-button{
    margin-left: 40px;
}
.search-div{
    margin: 10px;
}
.search-form-field{
    width: 70%;
    height: 60px;
    margin-left: 10px;
    padding: 0px 10px;
    background-color: #f5f5f5;
    border-width: 50px;
    border-radius: 50px;
}
.spinner-div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
}
