<div class="header">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>{{this.text.headerTitle}}</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
<div class="container">
    <app-biztbaa-customer-list>
        
    </app-biztbaa-customer-list>
</div>