.normal-form {
    margin: 16px;
}
.back-button-div{
    margin: 16px;
    margin-bottom: 8px;
}
.grid-tile-container {
    width: 100%;
    padding: 5%;
}
.grid-tile-container > *{
    width: 100%
}
.radio-button-container{
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button {
    padding-left: 10px;
    padding-right: 10px;
}

.add-button-row {
    margin-left: 250px;
}

.add-title-header{
    font: bold;
    font-size: x-large;
}
.header{
    background-color: #deb887;
}
.container{
    padding-top: 50px;
    border: 2px solid #ddd;
    margin: 0px 40px;
    min-height: max-content;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
.delete-button {
    margin-left: 8px;
}
.submit-button {
    margin-left: 8px;
    margin-right: 8px;
}
.spinner-div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
}