<div class="header">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>{{this.text.headerTitle}}</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
<div class="container">
    <div class="back-button-div">
        <button mat-raised-button class="back-button" color="primary" (click)="onBackButtonClick()" matTooltip="{{this.text.backButtonText}}" matTooltipPosition="above">
            <mat-icon>keyboard_backspace</mat-icon>{{this.text.backButtonText}}
        </button>
    </div>
    <mat-toolbar>
        <span>{{addHeaderTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button *ngIf="isView" class="edit-button" mat-flat-button (click)="onEditClick()" matTooltip="{{this.text.editIconHint}}" matTooltipPosition="above"><mat-icon>edit</mat-icon></button>
        <button *ngIf="isView" class="delete-button" mat-flat-button (click)="onDeleteClick()" matTooltip="{{this.text.deleteIconHint}}" matTooltipPosition="above"><mat-icon>delete_outline</mat-icon></button>
    </mat-toolbar>
<form [formGroup]="this.service.form" class="normal-form" (submit)="onAddCustomer()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="grid-tile-container">
                <input type="hidden" formControlName="key">
                <mat-form-field>
                    <mat-label>{{this.text.name}}</mat-label>
                    <input formControlName="name" matInput placeholder="{{this.text.name}}" required [readonly]="isView">
                    <mat-error>{{this.text.mandatoryErrorMessage}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{this.text.phone}}</mat-label>
                    <input formControlName="phone" matInput placeholder="{{this.text.phone}}" maxlength="10" required [readonly]="isView">
                    <mat-error *ngIf="this.service.form.controls['phone'].errors?.required">{{this.text.mandatoryErrorMessage}}</mat-error>
                    <mat-error *ngIf="this.service.form.controls['phone'].errors?.minlength">{{this.text.minimumCountErrorMessage}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{this.text.mail}}</mat-label>
                    <input formControlName="mail" matInput placeholder="{{this.text.mail}}" required [readonly]="isView">
                    <mat-error *ngIf="this.service.form.controls['mail'].errors?.required">{{this.text.mandatoryErrorMessage}}</mat-error>
                    <mat-error *ngIf="this.service.form.controls['mail'].errors?.email">{{this.text.invalidMailErrorMessage}}</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-tile-container">
                <mat-form-field>
                    <mat-label>{{this.text.place}}</mat-label>
                    <input formControlName="place" matInput placeholder="{{this.text.place}}" [readonly]="isView">
                </mat-form-field>
                <mat-form-field >
                    <mat-label>{{this.text.birthDate}}</mat-label>
                    <input formControlName="birthDate" [formControl]="dateFormat" matInput [matDatepicker]="picker" placeholder="{{this.text.birthDate}}" [disabled]="isView">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field> 
                <div class="radio-button-container">
                    <mat-radio-group aria-label="Select an option" formControlName="status" >
                        <mat-label>{{this.text.status}}</mat-label>
                        <mat-radio-button value="1" [disabled]="isView">{{this.text.activeStatus}}</mat-radio-button>
                        <mat-radio-button value="2" [disabled]="isView">{{this.text.inactiveStatus}}</mat-radio-button>
                      </mat-radio-group>
                </div> 
                <div class="add-button-row" *ngIf="!isView">
                    <button class="submit-button" mat-raised-button color="primary" type="submit" [matTooltip]="addButtonText" matTooltipPosition="above"
                    [disabled]="this.service.form.invalid">{{addButtonText}}</button>
                    <button *ngIf="!isEdit" mat-raised-button color="warn" (click)="onClear()" matTooltip="{{this.text.clearButtonText}}" matTooltipPosition="above">{{this.text.clearButtonText}}</button>
                </div>                
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</div>
<div class="spinner-div">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
  